<div class="content">
    <div class="tabnav">
        <ul class="tab_list">
            <li class="tab_name">
                <a href="{:U('index')}" class="current">All</a>
                <a href="{:U('index')}" class="current">Phone</a>
                <a href="{:U('index')}" class="current">Tablet</a>
            </li>
        </ul>
    </div>
</div>